Cartopy==0.22.0
einops==0.8.0
GP==1.0
gym==0.26.2
h5py==3.10.0
imageio==2.34.0
ipdb==0.13.13
ipython==8.20.0
ipython==8.21.0
ipywidgets==8.1.2
kernels==0.0.0
leap==2021.1
lightning==2.2.5
lingam==1.8.2
matplotlib==3.8.3
nerv==0.2.5
networkx==3.1
networkx==3.2.1
numpy==1.26.4
opencv_python==4.9.0.80
pandas==1.5.3
Pillow==10.3.0
pymunk==6.8.0
pytest==8.0.0
python_igraph==0.11.3
pytorch_lightning==2.2.0.post0
PyYAML==6.0.1
PyYAML==6.0.1
scikit_learn==1.4.0
scipy==1.13.1
seaborn==0.13.2
setuptools==69.1.0
setuptools==69.2.0
torch==2.2.0
torchsummary==1.5.1
torchvision==0.17.0
tqdm==4.66.2
typing_extensions==4.12.1
xarray==2024.1.1
xarray==2023.3.0
xvfbwrapper==0.2.9
